---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
import "../styles/global.css";
const pageTitle = "Acerca de mi";

const identity = {
  firstName: "Marcelo",
  country: "Argentina",
  occupation: "Desarrollador Web",
  hobbies: ["Musica", "Videojuegos competitivos", "Naturaleza"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Redacción de documentos",
];
const skillColor = "#f3f1f4";
const fontWeight = "bold";
const textCase = "uppercase";

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 4rem;
        margin-bottom: 0;
      }
      h2 {
        align-self: center;
        margin-top: 0;
        color: #4fd;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
      .happy {
        color: #4fd;
      }
    </style>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <h2>... y mi sitio Astro!</h2>
    <p>
      Estoy siguiendo el tutorial introductorio de Astro. Esta es la segunda
      página de mi sitio web.
    </p>
    <p>
      Este sitio se irá actualizando a medida que complete el tutorial, asi que
      no dejes de visitarlo para ver como va mi viaje!! 😸.
    </p>

    <h4>He aquí algunos datos sobre mí:</h4>
    <ul>
      <li>Me llamo {identity.firstName}.</li>
      <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Dos de mis aficiones son: {identity.hobbies[0]} y{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <h4>Mis habilidades son:</h4>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p class="happy">¡Estoy feliz de aprender Astro!</p>}

    {finished && <p>¡He terminado este tutorial!</p>}

    {
      goal === 3 ? (
        <p>Mi objetivo es terminar en 3 días.</p>
      ) : (
        <p>Mi objetivo no son 3 días.</p>
      )
    }
    <Footer />
    <script>
      let hamburgerElement = document.querySelector(".hamburger");
      hamburgerElement.addEventListener("click", (e) => {
        document.querySelector(".nav").classList.toggle("expanded");
        hamburgerElement.classList.toggle('closer');
      });
    </script>
  </body>
</html>
